
.footer-nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.footer-nav__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: calc((100% - 144px) / 4);
}

.footer-nav__item-link {
    align-self: flex-start;
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    transition: color 0.3s ease-out;
}

.footer-nav__item-link:hover {
    color: #E7536D;
}


@media (min-width: 900px) {
    .footer-nav__item-link {
        font-size: 24px;
        font-size: calc( 0.0105263158 * 100vw + 10.5263157895px );
    }
}
@media (min-width: 1280px) {
    .footer-nav__item-link {
        font-size: 24px;
    }
}

.footer-sub-nav__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    line-height: 1.3333333333;
    font-weight: 300;
}

@media (min-width: 900px) {
    .footer-sub-nav__list {
        font-size: 18px;
        font-size: calc( 0.0105263158 * 100vw + 4.5263157895px );
    }
}
@media (min-width: 1280px) {
    .footer-sub-nav__list {
        font-size: 18px;
    }
}

.footer-sub-nav__item {
    line-height: inherit;
}

.footer-sub-nav__item-link {
    transition: color 0.3s ease-out;
}

.footer-sub-nav__item-link:hover {
    color: #E7536D;
}

@media (max-width: 768px) {
    .footer-nav__list {
        gap: 24px;
    }
    .footer-nav__item {
        width: calc((100% - 72px) / 4);
    }
}

@media (max-width: 650px) {
    .footer-nav__list {
        gap: 24px;
    }
    .footer-nav__item {
        width: calc((100% - 72px) / 2);
    }
}

@media (max-width: 475px) {
    .footer-nav__list {
        gap: 32px;
    }
    .footer-nav__item {
        width: calc((100% - 0px) / 1);
    }
    .footer-nav__item-link {
        font-size: 24px;
    }
    .footer-sub-nav__list {
        font-size: 18px;
    }
}
