<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" href="images/favicon.svg" type="image/svg+xml">
        <title>Первая кардиоклиника в Тюмени, официальный сайт кардиологии на ул Фабричной д 7</title>
    </head>
    <body>
        <div class="page">
            <header class="header header--fixed">
                <div class="container">
                    <div class="header__bottom">
                        <div class="header__logo logo">
                            <a class="logo__link" href="/">
                                <img src="images/logo.gif" alt="Логотип: Первая кардиоклиника">
                            </a>
                        </div>

                        <div class="header__group-btn">
                            <div class="header__exclamation modal__btn" data-target="#consultation" title="Онлайн консультации"> 
                                <div class="header__exclamation-icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 9V12.75M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM12 15.75H12.0075V15.7575H12V15.75Z" stroke="#8D8D8D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <div class="header__exclamation-text">Онлайн консультации</div>
                            </div>
                           <button class="header__btn btn__primary menu nav-menu__toggler" title="Меню сайта">
                                <div class="menu__wrapper">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="header__btn-text">Меню сайта</div>
                            </button>
                        </div> 
                        <nav class="header__nav nav">
                            <div class="container">
                                <div class="header__nav-wrapper">
                                    <div class="header__nav-top-content"></div>
                                    <ul class="nav__list">
                                        <li class="nav__list-item">
                                            <a class="nav__list-link nav__item-toggler" href="javascript:;">
                                                <span></span> Специалисты
                                            </a>
                                            <ul class="nav-sub__list">
                                                <li class="nav-sub__list-item">
                                                    <a class="nav-sub__list-link" href="javascript:;">Валеева Венера Исмаиловна</a>
                                                </li>
                                                <li class="nav-sub__list-item">
                                                    <a class="nav-sub__list-link" href="javascript:;">Дементьева Наталья Владимировна</a>
                                                </li>
                                                <li class="nav-sub__list-item">
                                                    <a class="nav-sub__list-link" href="javascript:;">Савельева Нина Юрьевна</a>
                                                </li>
                                                <li class="nav-sub__list-item">
                                                    <a class="nav-sub__list-link" href="javascript:;">Савельева Нина Юрьевна</a>
                                                </li>
                                                <li class="nav-sub__list-item">
                                                    <a class="nav-sub__list-link" href="javascript:;">Ярцева Ирина Артуровна</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav__list-item">
                                            <a class="nav__list-link nav__item-toggler" href="javascript:;">
                                                <span></span> О клинике
                                            </a>
                                            <ul class="nav-sub__list">
                                                <li class="nav-sub__list-item">
                                                    <a class="nav-sub__list-link" href="javascript:;">Лицензии</a>
                                                </li>
                                                <li class="nav-sub__list-item">
                                                    <a class="nav-sub__list-link" href="javascript:;">Правовая информация</a>
                                                </li>
                                                <li class="nav-sub__list-item">
                                                    <a class="nav-sub__list-link" href="javascript:;">Реквизиты</a>
                                                </li>
                                                <li class="nav-sub__list-item">
                                                    <a class="nav-sub__list-link" href="javascript:;">Партнеры</a>
                                                </li>
                                                <li class="nav-sub__list-item">
                                                    <a class="nav-sub__list-link" href="javascript:;">Вакансии</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav__list-item">
                                            <a class="nav__list-link" href="javascript:;">Статьи</a>
                                            <a class="nav__list-link" href="javascript:;">Прайс-лист</a>
                                            <a class="nav__list-link" href="javascript:;">Акции</a>
                                            <a class="nav__list-link" href="javascript:;">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </header>
            <main class="main">
                <section class="doctors">
                    <div class="container">
                        <h2 class="section__title">Наши специалисты</h2>
                        <ul class="doctors-list">
                            <li class="doctors-list__item">
                                <a class="doctors-list__item-link" href="javascript:;">
                                    <div class="doctors-list__item-img-box">
                                        <img class="doctors-list__item-img" width="302" height="218" src="images/doctors_01.png" alt="Ярцева Ирина Артуровна">
                                    </div>
                                    <div class="doctors-list__item-content">
                                        <h3 class="doctors-list__item-title">Ярцева Ирина Артуровна</h3>
                                        <div class="doctors-list__item-degree">Главный врач, кардиолог-аритмолог, к.м.н., высшей категории</div>
                                        <div class="doctors-list__item-experience">Стаж работы 38 лет</div>
                                        <div class="doctors-list__item-btn-more btn btn__more">Подробнее</div>
                                    </div>
                                </a>
                            </li>
                            <li class="doctors-list__item">
                                <a class="doctors-list__item-link" href="javascript:;">
                                    <div class="doctors-list__item-img-box">
                                        <img class="doctors-list__item-img" width="302" height="218" src="images/doctors_02.png" alt="Дементьева Наталья Владимировна">
                                    </div>
                                    <div class="doctors-list__item-content">
                                        <h3 class="doctors-list__item-title">Дементьева Наталья Владимировна</h3>
                                        <div class="doctors-list__item-degree">Врач-кардиолог, высшей категории, к.м.н.</div>
                                        <div class="doctors-list__item-experience">Стаж работы 12 лет</div>
                                        <div class="doctors-list__item-btn-more btn btn__more">Подробнее</div>
                                    </div>
                                </a>
                            </li>
                            <li class="doctors-list__item">
                                <a class="doctors-list__item-link" href="javascript:;">
                                    <div class="doctors-list__item-img-box">
                                        <img class="doctors-list__item-img" width="302" height="218" src="images/doctors_03.png" alt="Валеева Венера Исмаиловна">
                                    </div>
                                    <div class="doctors-list__item-content">
                                        <h3 class="doctors-list__item-title">Валеева Венера Исмаиловна</h3>
                                        <div class="doctors-list__item-degree">Врач кардиолог-аритмолог высшей категории, к.м.н.</div>
                                        <div class="doctors-list__item-experience">Стаж работы 31 год</div>
                                        <div class="doctors-list__item-btn-more btn btn__more">Подробнее</div>
                                    </div>
                                </a>
                            </li>
                            <li class="doctors-list__item">
                                <a class="doctors-list__item-link" href="javascript:;">
                                    <div class="doctors-list__item-img-box">
                                        <img class="doctors-list__item-img" width="302" height="218" src="images/doctors_04.png" alt="Савельева Нина Юрьевна">
                                    </div>
                                    <div class="doctors-list__item-content">
                                        <h3 class="doctors-list__item-title">Савельева Нина Юрьевна</h3>
                                        <div class="doctors-list__item-degree">Врач-кардиолог высшей категории, врач-гомеопат, к.м.н.</div>
                                        <div class="doctors-list__item-experience">Стаж работы 38 год</div>
                                        <div class="doctors-list__item-btn-more btn btn__more">Подробнее</div>
                                    </div>
                                </a>
                            </li>
                            <li class="doctors-list__item">
                                <a class="doctors-list__item-link" href="javascript:;">
                                    <div class="doctors-list__item-img-box">
                                        <img class="doctors-list__item-img" width="302" height="218" src="images/doctors_01.png" alt="Савельева Нина Юрьевна">
                                    </div>
                                    <div class="doctors-list__item-content">
                                        <h3 class="doctors-list__item-title">Савельева Нина Юрьевна</h3>
                                        <div class="doctors-list__item-degree">Врач-кардиолог высшей категории, врач-гомеопат, к.м.н.</div>
                                        <div class="doctors-list__item-experience">Стаж работы 38 год</div>
                                        <div class="doctors-list__item-btn-more btn btn__more">Подробнее</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <a class="doctors__btn btn btn__primary" href="javascript:;">Смотреть всех (25)</a>
                    </div>
                </section>
            
                <section class="articles">
                    <div class="container">
                        <h2 class="section__title">Статьи</h2>
                        <div class="articles__wrapper">
                            <div class="articles__main">
                                <ul class="articles-list">
                                    <li class="articles-list__item">
                                        <div class="articles-list__img-box">
                                            <a class="articles-list__img-link" href="javascript:;">
                                                <img class="articles-list__img" width="166" height="111" loading="lazy" src="images/articles__01.jpg" alt="Наш дневной стационар">
                                            </a>
                                        </div>
                                        <div class="articles-list__content">
                                            <a class="articles-list__content-title-link" href="javascript:;">
                                                <h3 class="articles-list__content-title">Наш дневной стационар</h3>
                                            </a>
                                            <div class="articles-list__content-description">
                                                <p>Наши врачи уверены, что для сохранения хорошего качества жизни необходимо один-два раза в год проходить поддерживающий курс лечения в дневном стационаре.⠀</p>
                                            </div>
                                            <a class="articles-list__content-btn-link btn btn__more" href="javascript:;">Подробнее</a>
                                        </div>
                                    </li>
                                    <li class="articles-list__item">
                                        <div class="articles-list__img-box">
                                            <a class="articles-list__img-link" href="javascript:;">
                                                <img class="articles-list__img" width="166" height="111" loading="lazy" src="images/articles__02.jpg" alt="Посетите кардиолога в Тюмени - сохраните здоровье!">
                                            </a>
                                        </div>
                                        <div class="articles-list__content">
                                            <a class="articles-list__content-title-link" href="javascript:;">
                                                <h3 class="articles-list__content-title">Посетите кардиолога в Тюмени - сохраните здоровье!</h3>
                                            </a>
                                            <div class="articles-list__content-description">
                                                <p>Современные темпы жизни, зачастую приводят нас к тому, что времени уделить своему здоровью не остается или же находится множество причин откладывать визит к врачу «до последнего». С другой стороны, из-за малоподвижного образа...</p>
                                            </div>
                                            <a class="articles-list__content-btn-link btn btn__more" href="javascript:;">Подробнее</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="articles__form">
                                <form class="form">
                                    <h3 class="form__title">Оставить отзыв</h3>
                                    <label class="form__label">
                                        <input class="form__input form__input-radio" type="radio" name="feedback-form" checked>
                                        <span class="form__input-radio-style"></span>
                                        <div class="form__label-text">О клинике</div>
                                    </label>
                                    <label class="form__label">
                                        <input class="form__input form__input-radio" type="radio" name="feedback-form">
                                        <span class="form__input-radio-style"></span>
                                        <div class="form__label-text">О враче</div>
                                    </label>
                                    <label class="form__label">
                                        <input class="form__input form__input-radio" type="radio" name="feedback-form">
                                        <span class="form__input-radio-style"></span>
                                        <div class="form__label-text">Об услуге</div>
                                    </label>
                                    <div class="form__textarea-box decore--message">
                                        <textarea class="form__textarea" name="" id="" placeholder="Текст отзыва"></textarea>
                                    </div>
                                    <div class="form__input-box decore--user">
                                        <input class="form__input" type="text" name="" placeholder="Имя*" required>
                                    </div>
                                    <div class="form__input-box decore--phone">
                                        <input class="form__input" type="tel" name="" id="" placeholder="Номер телефона*" required>
                                    </div>
                                    <button class="form__btn btn btn__tertiary" type="submit">Отправить</button>
                                    <div class="form__agree">
                                        <p class="form__agree-text">Нажимая кнопку “Отправить”, вы соглашаетесь с 
                                            <a class="form__agree-link" href="javascript:;">политикой конфиденциальности</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <footer class="footer">
                <div class="container">
                    <div class="footer__wrapper">
                        <div class="footer__top">
                            <div class="footer__logo logo">
                                <a class="logo__link" href="/">
                                    <img src="images/logo--footer.svg" alt="Логотип: Первая кардиоклиника">
                                </a>
                            </div>
                            <div class="footer__group">
                                <ul class="info-list">
                                    <li class="info-list__item info-list__item--phone">
                                        <div class="info-list__item-text">
                                            <a class="info-list__item-link" href="tel:+73452562727"><span>+7 (3452)</span> 56-27-27</a>
                                        </div>
                                    </li>
                                    <li class="info-list__item info-list__item--phone">
                                        <div class="info-list__item-text">
                                            <a class="info-list__item-link" href="tel:+73452608628"><span>+7 (3452)</span> 608-628</a>
                                        </div>
                                    </li>
                                    <li class="info-list__item info-list__item--email">
                                        <div class="info-list__item-text">
                                            <a class="info-list__item-link" href="mailto:info@1cardioclinic.ru">info<span>@1cardioclinic.ru</span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer__bottom">
                            <nav class="footer-nav">
                                <ul class="footer-nav__list">
                                    <li class="footer-nav__item">
                                        <a class="footer-nav__item-link" href="javascript:;">Специалисты</a>
                                        <ul class="footer-sub-nav__list">
                                            <li class="footer-sub-nav__item">
                                                <a class="footer-sub-nav__item-link" href="javascript:;">Валеева Венера Исмаиловна</a>
                                            </li>
                                            <li class="footer-sub-nav__item">
                                                <a class="footer-sub-nav__item-link" href="javascript:;">Дементьева Наталья Владимировна</a>
                                            </li>
                                            <li class="footer-sub-nav__item">
                                                <a class="footer-sub-nav__item-link" href="javascript:;">Савельева Нина Юрьевна</a>
                                            </li>
                                            <li class="footer-sub-nav__item">
                                                <a class="footer-sub-nav__item-link" href="javascript:;">Савельева Нина Юрьевна</a>
                                            </li>
                                            <li class="footer-sub-nav__item">
                                                <a class="footer-sub-nav__item-link" href="javascript:;">Ярцева Ирина Артуровна</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a class="footer-nav__item-link" href="javascript:;">О клинике</a>
                                        <ul class="footer-sub-nav__list">
                                            <li class="footer-sub-nav__item">
                                                <a class="footer-sub-nav__item-link" href="javascript:;">Лицензии</a>
                                            </li>
                                            <li class="footer-sub-nav__item">
                                                <a class="footer-sub-nav__item-link" href="javascript:;">Правовая информация</a>
                                            </li>
                                            <li class="footer-sub-nav__item">
                                                <a class="footer-sub-nav__item-link" href="javascript:;">Реквизиты</a>
                                            </li>
                                            <li class="footer-sub-nav__item">
                                                <a class="footer-sub-nav__item-link" href="javascript:;">Партнеры</a>
                                            </li>
                                            <li class="footer-sub-nav__item">
                                                <a class="footer-sub-nav__item-link" href="javascript:;">Вакансии</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a class="footer-nav__item-link" href="javascript:;">Статьи</a>
                                        <a class="footer-nav__item-link" href="javascript:;">Прайс-лист</a>
                                        <a class="footer-nav__item-link" href="javascript:;">Акции</a>
                                        <a class="footer-nav__item-link" href="javascript:;">Контакты</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="footer__watermark">
                            <div class="footer__watermark-copyright">© 2023 © ООО «Сибирь-Ассист»,Первая Кардиоклиника.Все права защищены.Информация на сайте не является публичной офертой.</div>
                            <a class="footer__watermark-dev-link" href="javascript:;">
                                <img src="images/dev-logo.svg" alt="Наш надежный digital-партнер: SunWeb">
                            </a>
                        </div>
                    </div>
                </div>
            </footer>

            <dialog class="modal modal--top-images" id="consultation">
                <div class="container">
                    <div class="modal__content modal__search">
                        <div class="modal__close">
                            <div class="modal_close close nav_toggler active">
                                <div class="close__wrapper">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal__content-img-box">
                            <img src="images/placeholder-modal-test.jpg" alt="">
                        </div>
                        <div class="modal__content-wrapper">
                            <div class="modal__content-text">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, quasi suscipit. Sequi accusantium saepe et numquam reprehenderit modi quae exercitationem explicabo nulla provident. Quam nesciunt ea quo, dolorem ullam minus. Repellat optio alias cum consequuntur iste sit, dolore amet perferendis nam voluptate totam distinctio nulla quae, fuga quaerat saepe animi magnam eum nihil sunt praesentium. Deserunt quibusdam corrupti commodi. Amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </dialog>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>