.nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 49px 48px;
    padding: 83px 0;
}

.nav__list-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 144px) / 3);
    background-color: #fff;
    z-index: 0;
}

.nav__list-link {
    color: #400013;
    font-size: 24px;
    line-height: 1;
    transition: color 0.3s ease-out;
}

.nav__list-link:not(:last-child):not(:only-of-type) {
    margin: 0 0 24px 0;
}

.nav__list-link:only-of-type {
    position: relative;
}

.nav__list-link:only-of-type span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #95BB30;
    top: -3px;
    z-index: -1;
}
.nav__list-link:only-of-type span::after, .nav__list-link:only-of-type span::before {
    content: "";
    border: 1px solid #95BB30;
    border-radius: 2px;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    transform-origin: center;
    transition: transform 0.3s ease-out, border 0.3s ease-out, opacity 0.3s ease-out;
}
.nav__list-link:only-of-type span::after {
    width: 2px;
    height: 10px;
}
.nav__list-link:only-of-type span::before {
    width: 10px;
    height: 2px;
}
.nav__list-link:only-of-type + .nav-sub__list {
    padding: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
}
.nav__list-link.active:only-of-type span {
    border: 1px solid #8D8D8D;
}

.nav__list-link.active:only-of-type span::before, .nav__list-link.active:only-of-type span::after {
    border: 1px solid #8D8D8D;
}

.nav__list-link.active:only-of-type span::after {
    opacity: 0;
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

.nav__list-link.active:only-of-type + .nav-sub__list {
    padding: 27px 0 0 0;
    height: auto;
    opacity: 1;
    pointer-events: all;
}
.nav__list-link:hover {
    color: #E7536D;
}

.nav-sub__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #524E4E;
    text-transform: none;
    line-height: 1.3333333333;
    font-weight: 300;
    transition: height 0.15s ease-out, opacity 0.15s ease-out, padding 0.15s ease-out;
}

.li.nav-sub__list-item {
    line-height: inherit;
}

.nav-sub__list-link {
    transition: color 0.3s ease-out;
}
.nav-sub__list-link:hover {
    color: #400013;
}

@media (max-width: 1024px) {
    .nav__list {
        gap: 30px 24px;
    }
    .nav__list-item {
        width: calc((100% - 72px) / 4);
    }
}

@media (max-width: 970px) {
    .nav__list {
        gap: 30px 20px;
    }
    .nav__list-item {
        width: calc((100% - 40px) / 3);
    }
}

@media (max-width: 750px) {
    .nav__list {
        gap: 30px 35px;
    }
    .nav__list-item {
        width: calc((100% - 35px) / 2);
    }
}

@media (max-width: 650px) {
    .nav__list {
        padding: 0;
    }
}

@media (max-width: 550px) {
    .nav__list {
        gap: 30px 20px;
    }
    .nav__list-item {
        width: calc((100% - 20px) / 2);
    }
}

@media (max-width: 475px) {
    .nav__list {
        gap: 38px;
    }
    .nav__list-item {
        width: calc((100% - 0px) / 1);
    }
    .nav__list-link:not(:last-child):not(:only-of-type) {
        margin: 0 0 32px 0;
    }
}