.form {
    display: block;
    padding: 32px 24px;
    max-width: 468px;
    box-shadow: 0px 2px 2px rgba(196, 196, 196, 0.5);
    border-radius: 8px;
    background-color: #fff;
}

.form__btn {
    place-self: center;
    margin: 0;
    width: auto;
}

.form__title {
    margin: 0 0 8px 0;
    font-size: 24px;
    line-height: 1.4166666667;
    letter-spacing: 0.0208333333em;
    text-transform: uppercase;
    font-weight: 500;
    color: #95BB30;
}

.form__input,
.form__textarea,
.form__btn {
    display: block;
    width: 100%;
}

.form__textarea-box:not(:last-child):not(:only-of-type),
.form__input-box:not(:last-child):not(:only-of-type) {
    margin: 0 0 16px 0;
}

.form__textarea,
.form__input {
    padding: 12px 18px;
    background-color: #F6F1F1;
    border: none;
    color: #524E4E;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 300;
    border-radius: 8px;
    transition: color 0.3s ease-out;
}

.form__textarea::-moz-placeholder, .form__input::-moz-placeholder {
    font-size: inherit;
    color: #8D8D8D;
    font-weight: 300;
}

.form__textarea::placeholder,
.form__input::placeholder {
    font-size: inherit;
    color: #8D8D8D;
    font-weight: 300;
}

.form__textarea:hover, .form__textarea:focus,
.form__input:hover,
.form__input:focus {
    color: #524E4E;
}

.form__textarea:hover::-moz-placeholder, .form__textarea:focus::-moz-placeholder, .form__input:hover::-moz-placeholder, .form__input:focus::-moz-placeholder {
    color: inherit;
}

.form__textarea:hover::placeholder, .form__textarea:focus::placeholder,
.form__input:hover::placeholder,
.form__input:focus::placeholder {
    color: inherit;
}

.form__textarea {
    resize: vertical;
    min-height: 96px;
    transition: color 0.3s ease-out;
}


.form__btn {
    margin: 32px 0 16px 0;
}

.form__agree {
    font-size: 14px;
    line-height: 1.7142857143;
    color: #8D8D8D;
}

.form__agree-link {
    border-bottom: 1px solid #8D8D8D;
}

.form__label {
    display: inline-block;
    margin: 0 8px 0 24px;
    cursor: pointer;
}

.form__label:not(:last-of-type) {
    margin-right: 12px;
}

.form__label:last-of-type {
    margin-bottom: 34px;
}

.form__label-text {
    font-size: 16px;
    line-height: 1.375;
    font-weight: 300;
}

.form__input-checkbox,
.form__input-radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0 0 0 24px;
}

.form__input-checkbox-style,
.form__input-radio-style {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #B8B8B8;
    margin: 3px 0 0 -24px;
}

/* checked */
.form__input-checkbox:checked + .form__input-checkbox-style,
.form__input-radio:checked + .form__input-radio-style {
    border: 2px solid #95BB30;
}

.form__input-checkbox:checked + .form__input-checkbox-style::before,
.form__input-radio:checked + .form__input-radio-style::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #95BB30;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__input-radio-style,
.form__input-radio:checked + .form__input-radio-style::before {
    border-radius: 50%;
}

.form__input-checkbox:disabled + .form__input-checkbox-style,
.form__input-radio:disabled + .form__input-radio-style {
    border-color: #8D8D8D;
}

.form__input-checkbox:checked:disabled + .form__input-checkbox-style::before,
.form__input-radio:checked:disabled + .form__input-radio-style::before {
    background-color: #8D8D8D;
}

.form__input-checkbox:focus + .form__input-checkbox-style,
.form__input-radio:focus + .form__input-radio-style {
    box-shadow: 0 0 0 1px #400013;
}

/* hover */
.form__label:hover .form__input-checkbox:not(:checked) + .form__input-checkbox-style,
.form__label:hover .form__input-radio:not(:checked) + .form__input-radio-style {
    border: 2px solid #8D8D8D;
}

.form__label:hover .form__input-checkbox:not(:checked) + .form__input-radio-style::before,
.form__label:hover .form__input-radio:not(:checked) + .form__input-radio-style::before {
    border-radius: 50%;
}

.form__label:hover .form__input-checkbox:not(:checked) + .form__input-checkbox-style::before,
.form__label:hover .form__input-radio:not(:checked) + .form__input-radio-style::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #8D8D8D;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__title {
    margin: 0 0 16px 0;
}

.form__group {
    display: flex;
    gap: 16px;
}

.form__input-box {
    width: 100%;
}


.articles__form {
    margin: -84px 0 0 0
}

@media (max-width: 1024px) {

    .articles__form {
        width: calc((100% - (30px * 1)) / 2)
    }

    .articles__form {
        margin: 0
    }
}

@media (max-width: 850px) {

    .articles__form {
        width: calc((100% - (30px * 0)) / 1)
    }

    .articles__form .form {
        margin: 0 auto
    }
}
@media (max-width: 475px) {
    .form__textarea {
        font-size: 18px
    }
}

@media (max-width: 450px) {
    .form__btn {
        margin: 32px 0 8px 0;
    }
}

@media (max-width: 425px) {
    .form__group {
        flex-direction: column;
    }

    .form__btn {
        width: 100%;
    }
}